.body {
  background-color: lightgray;
  width: 90%;
  height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
}

.App {
  text-align: center;
  margin-left: 5%;
  padding-right: 5%;
  font-size: small;
  background-color: lightgray;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  margin-bottom: 0.3%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: large;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flexDisplayRow {
  display: flex;
  flex-direction: row;
}

.flexDisplayColumn {
  display: flex;
  justify-content: space-evenly;
}

.containerWidth {
  width: 50%;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.flex-item {
  align-items: flex-end;
}